---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.image-credit {
    text-align: center;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    margin-top: 10px;
}

.card .image-credit {
  font-size: 10px;
  text-align: left;
  margin-top: 2px;
  margin-left: 2px;
  color: lightgray;
}

.card .img-fluid {
    height: 230px;
    object-position: center;
}

.subscribebtn-header {
  float: right;
}

code {
  color: #555555;
}

pre {
  white-space: pre-wrap;
  font-size: 0.8em;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
